.hide {
  display: none;
}

.modalOpen .el-notification {
  z-index: 99999999 !important;
}

.modal.fade.in {
  opacity: 1;
}

.modal-backdrop.fade.in {
  opacity: 0.5;
}

.alert {
  position: fixed;
  top: 35px;
  left: 25%;
  z-index: 999;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

/* .wpcm-custom-select2 {
	.vs__open-indicator {
		background-color: #eee;
		padding: 7px 10px;
	}
} */
body .el-select-dropdown {
  z-index: 999999 !important;
}

.el-select__tags .el-select__input {
  box-shadow: none;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  appeance: none;
}

.el-custom-select .el-select.el-select--large {
  display: block;
}
.el-custom-select .el-select .el-input__suffix {
  background-color: #f8f8f8;
  width: 35px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  height: 70%;
  top: 14.5%;
  line-height: 34px;
}
.el-custom-select .el-select .el-input__inner[readonly] {
  background-color: #fff;
}
.el-custom-select .el-select .el-input__inner {
  height: 54px;
  color: #999;
}
.el-custom-select .el-select i.el-input__icon {
  line-height: 34px;
}
.el-custom-select .el-select .el-input.is-focus .el-input__inner {
  border-color: #7470d2;
}

.wpcm-datetime-view .el-date-editor.el-input,
.wpcm-datetime-view .el-date-editor.el-input__inner {
  width: 100%;
}

.el-input-number {
  width: 125px;
  margin-left: 11px;
  /* .el-input__inner {
  	padding-left: 20px;
  	padding-right: 20px;
  } */
}
.el-input-number input.el-input__inner {
  border-radius: 0px;
  border: 1px solid #e6e6e6;
  height: 50px;
  padding: 0 20px;
}
.el-input-number .el-input-number__decrease {
  left: -11px;
}
.el-input-number .el-input-number__increase {
  right: -11px;
}
.el-input-number .el-input-number__decrease,
.el-input-number .el-input-number__increase {
  top: 50%;
  width: 26px;
  height: 30px;
  line-height: 26px;
  background: #f6f6f6;
  color: #69696a;
  font-size: 12px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  transform: translateY(-50%);
}
.el-input-number .el-input-number__decrease:hover:not(.is-disabled) ~ .el-input .el-input__inner:not(.is-disabled),
.el-input-number .el-input-number__increase:hover:not(.is-disabled) ~ .el-input .el-input__inner:not(.is-disabled) {
  border-color: #7470d2;
}

.wpcm-wrapper .el-button {
  line-height: 1;
}
.wpcm-wrapper .display-block .el-checkbox {
  display: block;
}

.wpcm-ajax-processing {
  width: 20px;
  height: 20px;
  animation: wpcm-spin 2s infinite linear;
  background-image: url("../images/refresh-button.svg");
  display: inline-block;
}
.wpcm-ajax-processing.white {
  background-image: url("../images/refresh-button-white.svg");
}

.action-response {
  padding: 5px 10px;
}
.action-response.success {
  background-color: #d4edda;
  border-color: #d4edda;
  color: #155724;
}
.action-response.danger {
  background-color: #f8d7da;
  border-color: #f8d7da;
  color: #721c24;
}
@keyframes wpcm-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
