@media(max-width: 1024px) {
	.wpcm-wrapper .wpcm-cart-msg {display: block;}
	.wpcm-wrapper .wpcm-cart-btns {display: block; margin-top: 10px;}
	.wpcm-wrapper .wpcm-billing-btns > a {margin-bottom: 8px;}
	.wpcm-wrapper .wpcm-biling-group {padding: 7px 7px 7px 15px;}
	.wpcm-wrapper .wpcm-biling-group > span {width: 61%;}
	.wpcm-wrapper .wpcm-shiping-group {padding: 15px 15px 15px 20px;}
	.wpcm-wrapper .wpcm-biling-group label, .wpcm-shiping-group label {width: 27%;}
	.wpcm-wrapper .wpcm-cart-bottom .wpcm-col1 {width: 46.4%;}
	.wpcm-wrapper .wpcm-cart-bottom .wpcm-col2 {width: 15.3%; padding: 38px 24px;}
	.wpcm-wrapper .wpcm-cart-bottom .wpcm-col3 {width: 23%;}
	.wpcm-wrapper .wpcm-payment-tab .wpcm-tab-area > .wpcm-row > div {max-width: 100%; flex: 0 0 100%;}
	.wpcm-wrapper .wpcm-payment-gateways-list ul li {margin-right: 55px; display: inline-block;}
	.wpcm-wrapper .wpcm-payment-gateways-list {margin-bottom: 30px;}
	.wpcm-wrapper .wpcm-payment-gateways-area .wpcm-option-row:first-child {padding-top: 30px;}
	.wpcm-wrapper .wpcm-checkout .wpcm-row > div {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.wpcm-wrapper .wpcm-billing-area {margin-bottom: 60px;}
	.wpcm-wrapper .wpcm-order-review {padding: 35px 60px;}
	.wpcm-wrapper .wpcm-checkout .wpcm-cart-bottom .wpcm-col1 {width: 47%;}
	.wpcm-wrapper .wpcm-checkout .wpcm-col1.wpcm-coupon-form {width: 53%; padding: 42px 9px;}
	.wpcm-wrapper .wpcm-order-sort .wpcm-field-input {margin-bottom: 15px;}
	.wpcm-wrapper .wpcm-order-sort .wpcm-btn {padding: 14px 30px;}
	.wpcm-wrapper .wpcm-order-table td {padding: 31px 23px;}
	.wpcm-wrapper.wpcm-order-detail .wpcm-order-general-box .wpcm-form-group .wpcm-custom-select2,
	.wpcm-wrapper.wpcm-order-detail .wpcm-order-general-box .wpcm-form-group .wpcm-custom-select,
	.wpcm-wrapper .wpcm-order-general-box .wpcm-datetime-view {
		padding-left: 0; width: 100%;
	}
	.wpcm-wrapper .wpcm-item-title {
		margin-top: 9px;
	}
	.wpcm-wrapper .wpcm-cart-btns > a {
		margin-bottom: 11px;
	}

}

@media(max-width: 768px) {
	.wpcm-wrapper .wpcm-add-note {padding: 30px 20px;}
	.wpcm-wrapper .wpcm-note-form {padding-left: 8px;}
	.wpcm-wrapper .wpcm-cart-item .wpcm-cart-img {display: block;}
	.wpcm-wrapper .wpcm-note-box {margin-bottom: 30px;}
	.wpcm-wrapper .wpcm-cart-table table tbody td.wpcm-col2 {padding: 80px 25px;}
	.wpcm-wrapper .wpcm-cart-item .wpcm-col3 {padding: 74px 14px;}
	.wpcm-wrapper .wpcm-cart-bottom .wpcm-col2 {padding: 38px 15px;}
	.wpcm-wrapper .wpcm-cart-bottom .wpcm-col3 {padding: 35px 16px;}
	.wpcm-wrapper .wpcm-tab-area {padding: 40px 15px 10px 15px;}
	.wpcm-wrapper .wpcm-option-row {padding: 30px 5px;}
	.wpcm-wrapper .wpcm-field-info {padding-bottom: 8px;}
	.wpcm-wrapper .wpcm-field-label {margin-bottom: 10px;}
	.wpcm-wrapper .wpcm-bottom-area {padding: 25px 15px 30px 15px;}
	.wpcm-wrapper .wpcm-coupon-form .wpcm-btn {margin: 10px auto 0; float: none;}
	.wpcm-wrapper .wpcm-coupon-form .wpcm-form-input {width: 100%;}
	.wpcm-wrapper .wpcm-order-sort .wpcm-btn {padding: 14px 30px;}
	.wpcm-wrapper .wpcm-order-table thead {display: none;}
	.wpcm-wrapper .wpcm-order-table td {display:block;padding: 25px 30px;text-align: right;}
	.wpcm-wrapper .wpcm-order-table td::before {content: attr(data-title)':'; float: left; font-weight: 500;margin-bottom: 11px;}
	.wpcm-wrapper .wpcm-order-table td:last-child::before {margin-top: 4px;}
	.wpcm-wrapper .wpcm-order-item {margin-left: auto;}
	.wpcm-wrapper .wpcm-order-table td:last-child {padding-left: 25px; padding-right: 25px; color: #fff;}
	.wpcm-wrapper .wpcm-order-table tbody tr {display: block;margin-bottom: 25px;}
	.wpcm-wrapper .wpcm-order-table tbody tr:last-child {margin-bottom: 0;}
	.wpcm-wrapper .wpcm-profile-meta li {margin-bottom: 11px;}
	.post-type-orders #wpbody select {height: auto;font-size: 14px;}
	.wpcm-wrapper .wpcm-note-content {margin-top: 10px;}
	.wpcm-wrapper .wpcm-biling-group > .wpcm-form-input {width: 100%;}

}

@media(max-width: 640px) {
	.wpcm-wrapper .wpcm-sec-infobar span {font-size: 13px;}
	.wpcm-wrapper .wpcm-sec-infobar span.wpcm-info-ip {margin-left: 10px;}
	.wpcm-wrapper .wpcm-note-title {margin-bottom: 15px;}
	.wpcm-wrapper .wpcm-note-content {margin-top: 10px;}
	.wpcm-wrapper .wpcm-sec-infobar {float: none; display: block;}
	.wpcm-wrapper .wpcm-cart-item .wpcm-cart-img {width: 100%;} 
	.wpcm-wrapper .wpcm-item-title {width: 100%; display: block;}
	.wpcm-wrapper .wpcm-cart-item .wpcm-col1 {width: 100%; text-align: center;}
	.wpcm-wrapper .wpcm-cart-table table td {padding: 10px 15px;}
	.wpcm-wrapper .wpcm-cart-table table tbody td.wpcm-col2 {padding: 10px 15px; text-align: center; width: 100%;}
	.wpcm-wrapper .wpcm-cart-item .wpcm-col3 {text-align: center; padding: 10px 15px; width: 100%;}
	.wpcm-wrapper .wpcm-cart-img img {margin-right: 0;}
	.wpcm-wrapper .wpcm-d-flex {display: block !important;}
	.wpcm-wrapper .wpcm-cart-item .wpcm-cart-img a {left: 45%;}
	.wpcm-wrapper .wpcm-cart-bottom .wpcm-col1 {width: 100%; text-align: center; padding: 15px; background-color: #fff; box-shadow: none;}
	.wpcm-wrapper .wpcm-tooltip-area .wpcm-tootip {left: 24%; top: -84px; width: 60%;}
	.wpcm-wrapper .wpcm-cart-bottom .wpcm-col2 {padding: 15px 15px; text-align: center; width: 100%; border-bottom: 1px solid #8f8cdf;}
	.wpcm-wrapper .wpcm-cart-bottom .wpcm-col3 {padding: 15px 15px; text-align: center; width: 100%;}
	.wpcm-wrapper .wpcm-tabs-group {width: 44px; min-height: auto;}
	.wpcm-wrapper .wpcm-tabs-group > li > a {padding: 12px 0px; margin: 0 14px;}
	.wpcm-wrapper .wpcm-tabs-group > li > a > span {display: none;}
	.wpcm-wrapper .wpcm-tabs-main {width: calc(100% - 44px);}
	.wpcm-wrapper .wpcm-subtabs-group > li,
	.wpcm-wrapper .wpcm-tabs-group > li {position: relative;}
	.wpcm-wrapper .wpcm-subtabs-group > li > a > span,
	.wpcm-wrapper .wpcm-tabs-group > li > a > span,
	.wpcm-wrapper .wpcm-settings-btn > a span {
		display: none;
		position: absolute;
		top: -6px;
		left: 44px;
		padding: 12px;
		width: 200px;
		background: #eeeeee;
		border: 1px solid #ccc;
		-webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
		-moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
		box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
		z-index: 3;}
	.wpcm-wrapper .wpcm-tabs-group > li > a > span,
	.wpcm-wrapper .wpcm-settings-btn > a span  {top: 0; color: #7672d6;}
	.wpcm-wrapper .wpcm-settings-btn > a span {text-align: left; font-weight: normal;}
	.wpcm-wrapper .wpcm-subtabs-group > li > a::before {
		left: 50%;
		transform: translateY(-50%, -50%);
		-webkit-transform: translateY(-50%, -50%);
		-moz-transform: translateY(-50%, -50%);
		margin-left: -3px;
	}
	.wpcm-wrapper .wpcm-subtabs-group > li > a {display: block; min-height: 15px; padding: 8px 0px; width: auto;}
	.wpcm-wrapper .wpcm-subtabs-group {padding: 5px 0;}
	.wpcm-wrapper .wpcm-subtabs-group > li:hover > a > span {display: block;}
	.wpcm-wrapper .wpcm-tabs-group > li > a i {margin-right: 0;}
	.wpcm-wrapper .wpcm-tabs-group > li:hover > a > span {display: block;}
	.wpcm-wrapper .wpcm-settings-btn > a i {display: block;}
	.wpcm-wrapper .wpcm-settings-btn > a span {display: none;}
	.wpcm-wrapper .wpcm-settings-btn > a {padding: 16px 12px; margin: 0 0px 5px 0px; border-radius: 0;}
	.wpcm-wrapper .wpcm-settings-btn > a:hover span{display: block;}
	.wpcm-wrapper .wpcm-option-row {padding: 20px 5px;}
	.wpcm-wrapper .wpcm-payment-gateways-list ul li {margin-right: 8px;}
	.wpcm-wrapper .wpcm-billing-area {padding: 60px 30px 45px;}
	.wpcm-wrapper .wpcm-checkout-biling-form {padding: 22px 15px;}
	.wpcm-wrapper .wpcm-checkout-biling-group.wpcm-name-field input,
	.wpcm-wrapper .wpcm-checkout-biling-group .wpcm-custom-select {width: 100%;}
	.wpcm-wrapper .wpcm-checkout-biling-group label {width: 100%;}
	.wpcm-wrapper .wpcm-checkout-biling-group input {width: 100%; float: none;}
	.wpcm-wrapper .wpcm-order-review {padding: 35px 30px;}
	.wpcm-wrapper .wpcm-checkout .wpcm-cart-item .wpcm-col2 {width: 32%;}
	.wpcm-wrapper .wpcm-checkout .wpcm-cart-bottom .wpcm-col1 {width: 100%;}
	.wpcm-wrapper .wpcm-checkout .wpcm-col1.wpcm-coupon-form {width: 100%; padding: 15px;}
	.wpcm-wrapper .wpcm-coupon-form form {float: none;}
	/* .wpcm-wrapper .wpcm-cart-btns {margin-top: 0;} */

}

@media(max-width: 480px) {
	.wpcm-wrapper .wpcm-note-content textarea {margin-top: 10px;}
	.wpcm-wrapper .wpcm-order-sec .wpcm-sec-titlebar h4 {display: block;}
	.wpcm-wrapper .wpcm-sec-infobar {float: none; display: block;}
	.wpcm-wrapper .wpcm-order-sec .wpcm-sec-content {padding: 30px 15px 50px 15px;}
	.wpcm-wrapper .wpcm-billing-btns > a {margin-bottom: 8px;}
	.wpcm-wrapper .wpcm-biling-group label, .wpcm-shiping-group label {width: 25%;}
	/* .wpcm-wrapper .wpcm-cart-heading {display: none;} */
	.wpcm-wrapper .wpcm-cart-item .wpcm-cart-img a {left: 43%;}
	.wpcm-wrapper .wpcm-cart-msg {text-align: center;}
	.wpcm-wrapper .wpcm-cart-btns {text-align: center;}
	.wpcm-wrapper .wpcm-tooltip-area .wpcm-tootip {left: 72px;}
	.wpcm-wrapper .wpcm-checkout .wpcm-cart-item .wpcm-col2 {width: 100%;}
	.wpcm-wrapper .wpcm-cart-table table tbody td.wpcm-col2,
	.wpcm-wrapper .wpcm-cart-table table td {padding: 15px;}
	.wpcm-wrapper .wpcm-profile-img {text-align: center;}
	.wpcm-wrapper .wpcm-profile-img .wpcm-btn {font-size: 13px; margin-top: 8px;}
	.wpcm-wrapper .wpcm-cover-img .wpcm-btn {font-size: 13px;}

}

@media(max-width: 414px) {
	.wpcm-wrapper .wpcm-sec-infobar span {display: block;}
	.wpcm-wrapper .wpcm-sec-infobar span.wpcm-info-ip {margin-left: 0; margin-top: 5px;}
	.wpcm-wrapper .wpcm-shiping-group {padding: 15px;}
	.wpcm-wrapper .wpcm-shiping-group input {width: 82%;}
	.wpcm-wrapper .wpcm-shiping-group .wpcm-custom-select {width: 82%;}
	.wpcm-wrapper .wpcm-order-general-box .wpcm-form-group label {width: 100%;}
	.wpcm-wrapper .wpcm-datetime-view,
	.wpcm-wrapper .wpcm-order-general-box .wpcm-form-group .wpcm-custom-select {width: 100%; padding-left: 0;}
	.wpcm-wrapper .wpcm-payment-gateways-area {padding-left: 15px;}
}

@media(max-width: 375px) {
	.wpcm-wrapper .wpcm-order-general-box .wpcm-form-group label {width: 100%;}
	.wpcm-wrapper .wpcm-datetime-view {padding-left: 0; width: 100%;}
	.wpcm-wrapper .wpcm-order-general-box .wpcm-form-group .wpcm-custom-select {padding-left: 0; width: 100%;}
	.wpcm-wrapper .wpcm-biling-group label, .wpcm-shiping-group label {width: 100%;}
	.wpcm-wrapper .wpcm-biling-group > span {width: 100%}
	.wpcm-wrapper .wpcm-billing-area {padding: 60px 15px 45px;}
	.wpcm-wrapper .wpcm-order-review {padding: 35px 15px;}

}